/* Personnaliser les boutons */
.video-js .vjs-play-control,
.video-js .vjs-volume-control,
.video-js .vjs-fullscreen-control {
    background-color: #ff0000; /* Rouge pour les boutons */
    border-radius: 5px; /* Bords arrondis */
    padding: 5px;
}

/* Personnalisation de la barre de progression */
.video-js .vjs-progress-holder {
    background-color: #ff6347; /* Couleur rouge tomate */
    height: 5px;
}

/* Personnalisation du fond du lecteur */
.video-js .vjs-control-bar {
    background-color: rgba(0, 0, 0, 0.7); /* Fond transparent sombre */
    border-radius: 10px; /* Coins arrondis */
}

/* Personnalisation de l'overlay (texte quand la vidéo est en pause) */
.video-js .vjs-big-play-button {
    background-color: rgba(255, 0, 0, 0.8); /* Rouge transparent pour le bouton play */
}
